.main-view {
  text-align: center;
}

.card-container { 
  background-color: black !important;
}

.card-body {
  background-color: black !important;
}

.card-img {
  overflow: hidden;
}

.title-container {
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: -5px;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2), rgba(0, 0, 0, 1));
  .card-title {
    font-size: 20px;
    position: absolute;
    bottom: 4%;
    width: 70%;
    text-align: left;
    margin-left: 10px;
  }
  .featured {
    text-align: center;
    width: 75px;
    height: 20px;
    background-color: rgb(231, 200, 24);
    color: black;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    position: absolute;
    left: -4%;
    bottom: 100%;
  }
  .rating {
    position: absolute;
    bottom: 0;
    right: inherit;
    text-align: right;
    margin-right: 10px;
  }
  .star {
    height: 24px;
    margin-bottom: 7px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .title-container {
    .card-title {
      font-size: 16px;
      width: 50%;
    }
  }
}

@media screen and (max-width: 992px) {
  .title-container {
    .card-title {
      font-size: 14px;
      width: 50%;
    }
    .rating {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 760px) {
  .title-container {
    .card-title {
      font-size: 24px;
      width: 70%;
    }
    .rating {
      font-size: 24px;
    }
  }
}