$full-black: #000;

.movie-card-col {
  height: 435px;
  overflow: hidden;
  z-index: 9;
  &:hover,
  &:active {
    transform: scale(1.1);
    cursor: pointer;
  }
  transition: .4s ease-in-out; 
}

.full-black {
  background-color: $full-black; 
  z-index: 90;
}

.cinemapp-logo {
  position: fixed;
  left: 10%;
  top:0;
  padding-top: 25px;
  height: 80px;
  background-color: $full-black; 
}

.custom-navbar {
  width: 115vw;
}

.navbar-logo {
  height: 30px;
}

.toggle-nav {
  background-color: $full-black;
  // margin-left: 53vw;
  // text-align: right;
}

.logout-button {
  z-index: 1022;
}

.light-animation { 
  border-radius: 50%;
  box-shadow: -50px -50px 500px rgba(255, 238, 0, 0.2);
  width: 600px;
  height: 600px;
  position: fixed;
  left: -10%;
  bottom: -25%;
  animation: slide 60s ease-in-out infinite alternate both;
}

@keyframes slide {
  0% {
           
    left: -10%;
    bottom: -65%;
  }
  25% {
            
    left: 100%;
    bottom: -65%;  
  }
  50% {
            
    left: 100%;
    bottom: 90%;  
  }
  75% {
            
    left: 100%;
    bottom: -65%;  
  }
  100% {
            
    left: -10%;
    bottom: -65%;  
  }
}

@media screen and (min-width: 992px) {
  .toggle-nav {
    background-color: $full-black;
    margin-left: 45vw;
  }
}
@media screen and (max-width: 990px){
  .cinemapp-logo {
    position: fixed;
    left: 30%;
    height: 60px;
    background-color: $full-black; 
  }
}
  
