.accordion-item .accordion-button {
  background-color: black !important;
  border: 0;
}

.accordion-button:focus {
  box-shadow: none;
}

.image-container-profile {
  img {
    opacity: .8;
  }
}

.profile-view h3 {
  width: 950px;
  padding-left: 50px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.custom-remove {
  position: relative;
  bottom: 250px;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

form {
  input {
    text-align: center;
  }
}

@media screen and (max-width: 600px){
 .custom-accordion {
  width: 100%!important;
 }
}