*,
body {
  box-sizing: border-box;
}

form {
  display: block;
  text-align: center;
  width: 300px;
  margin: auto;
  margin-top: 15%;
  padding: 1.5%;
  background-color: lavender;
  border-radius: 10px;
}

label,
.loginBtn {
  display: block;
  width: 250px;
  margin: auto;
  margin-top: 1%;
}

.loginBtn {
  width: 100px;
  margin-top: 2%;
}